<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left" id="menu-list-item4" ui-sref="menu.myAccount()" menu-close="">
          <i class="icon ion-android-person"></i>My account</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item1" ui-sref="menu.offers()" menu-close="">
          <i class="icon ion-ios-albums"></i>Offers</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item2" ui-sref="menu.products()" menu-close="">
          <i class="icon ion-android-apps"></i>Products</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item3" ui-sref="menu.myOrders()" menu-close="">
          <i class="icon ion-ios-list"></i>My orders</ion-item>
      </ion-list>
      <div class="spacer" style="width: 268px; height: 2px;"></div>
      <ion-list id="menu-list2">
        <ion-item class="item-icon-left royal" id="menu-list-item5">
          <i class="icon ion-log-out"></i>Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>