<ion-view title="My account" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="myAccount-form1" class="list">
      <label class="item item-input" id="myAccount-input2">
        <input type="email" placeholder="Email address">
      </label>
      <label class="item item-input" id="myAccount-input7">
        <input type="password" placeholder="Old Password">
      </label>
      <label class="item item-input" id="myAccount-input8">
        <input type="password" placeholder="New password">
      </label>
      <label class="item item-input" id="myAccount-input9">
        <input type="password" placeholder="New password confirm">
      </label>
      <label class="item item-input" id="myAccount-input3">
        <input type="text" placeholder="Company name">
      </label>
      <label class="item item-input" id="myAccount-input4">
        <input type="text" placeholder="Company city">
      </label>
      <label class="item item-input" id="myAccount-input5">
        <input type="text" placeholder="Fiscal code">
      </label>
      <label class="item item-input" id="myAccount-input6">
        <input type="text" placeholder="Company address">
      </label>
    </form>
    <button id="myAccount-button1" class="button button-positive button-block">Save</button>
    <button id="myAccount-button2" class="button button-assertive button-block">Delete Account</button>
  </ion-content>
</ion-view>