<ion-view title="My orders" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="myOrders-list7">
      <ion-item class="item-icon-left balanced" id="myOrders-list-item63">
        <i class="icon ion-android-checkbox"></i>Order : 1244DH66
        <span class="item-note">completed</span>
      </ion-item>
      <ion-item class="item-icon-left calm" id="myOrders-list-item64">
        <i class="icon ion-android-checkbox"></i>Order : 2344DH57
        <span class="item-note">waiting</span>
      </ion-item>
      <ion-item class="item-icon-left assertive" id="myOrders-list-item65">
        <i class="icon ion-android-checkbox"></i>Order : 4621DD50
        <span class="item-note">rejected</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>