<ion-view title="Products" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="products-form2" class="list">
      <label class="item item-input" id="products-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="products-list8">
      <div class="item item-body" id="products-list-item-container14">
        <div id="products-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="products-list-item-container15">
        <div id="products-markdown19" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>