<ion-view title="Signup" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="signup-form4" class="list">
      <ion-list id="signup-list10">
        <label class="item item-input" id="signup-input12">
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input" id="signup-input13">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="signup-input14">
          <input type="text" placeholder="Password">
        </label>
        <label class="item item-input" id="signup-input16">
          <input type="text" placeholder="Confirm Password">
        </label>
        <label class="item item-input" id="signup-input15">
          <input type="text" placeholder="Company Name">
        </label>
        <label class="item item-input" id="signup-input17">
          <input type="text" placeholder="Company Fiscal Code">
        </label>
      </ion-list>
      <button id="signup-button5" class="button button-stable button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>